:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.tic-tac-box {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

table {
  border: 1px solid white;
  td {
    border: 1px solid white;
    width: 150px;
    height: 150px;
  }
}

.tic-tac-interactive {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  padding:10px;
  margin-left: 50px;
  background-color: rgb(78, 152, 255);
}

.reset .feather-refresh-ccw {
  width: 40px;
  height: 40px;
}

.feather {
  width: 0;
  height: 0;
  opacity: 0; /* Start with zero size and hidden */
  animation: growSvg 0.25s ease forwards;
}

.feather.winner-cell {
  width: 100px;
  height: 100px;
  opacity: 1;
  animation: bounceSvg 2s ease-in-out infinite;
}

@keyframes growSvg {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 100px; /* Target width */
    height: 100px; /* Target height */
    opacity: 1;
  }
}

@keyframes bounceSvg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5); /* Slightly larger for the bounce effect */
  }
  100% {
    transform: scale(1);
  }
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #a9e600, 0 0 40px #a9e600, 0 0 50px #a9e600, 0 0 60px #a9e600, 0 0 70px #a9e600;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e4ff4d, 0 0 40px #e4ff4d, 0 0 50px #e4ff4d, 0 0 60px #e4ff4d, 0 0 70px #e4ff4d, 0 0 80px #e4ff4d;
  }
}


